---
// import LayoutSidebar from '../app/LayoutSidebar.astro';
import LayoutSidebar from '../app/LayoutSidebar.astro';
// import LandingReadme from '../modules/LandingReadme.astro';
---

<LayoutSidebar>
	<!-- <LandingReadme /> -->
	<h1 class="m-10 text-white">Dashboard</h1>
</LayoutSidebar>
